= simple_form_for @job, html: { multipart: true } do |f|
    - if @job.errors.any?
        #errors
            %h2
                = pluralize(@job.errors.count, "error")
                prevented this Pin from saving
            %ul
                - @job.errors.full_messages.each do |msg|
                    %li= msg

    .form-group
        = f.input :title, input_html: { class: 'form-control'}, label: "Titulo"
    
    - if @job.id?
        .form-group
            = f.input :type_job, collection: ['Emprego', 'Estágio'], selected: @job.type_job, input_html: { class: 'form-control'}, label: "Tipo"
    - else
        .form-group
            = f.input :type_job, collection: ['Emprego', 'Estágio'], selected: "Emprego", input_html: { class: 'form-control'}, label: "Tipo"
    
    
    .form-group
        = f.input :description, input_html: { class: 'form-control'}, label: "Descrição"
    
    .form-group
        = f.association :tags, as: :check_boxes, label: "Tags"
   
    - if @job.id?
        .form-group
            = f.input :value, collection: ['Não definido', 'Até R$ 1 000,00', 'entre R$ 1 000,01 - R$ 2 000,00', 'entre R$ 2 000,01 - R$ 3 000,00', 'entre R$ 4 000,00 -  5 000,00', 'Acima de R$ 5 000,00'], selected: @job.value, input_html: { class: 'form-control'}, label: "Faixa salarial"
    - else
        .form-group
            = f.input :value, collection: ['Não definido', 'Até R$ 1 000,00', 'entre R$ 1 000,01 - R$ 2 000,00', 'entre R$ 2 000,01 - R$ 3 000,00', 'entre R$ 4 000,00 -  5 000,00', 'Acima de R$ 5 000,00'], selected: "Não definido", input_html: { class: 'form-control'}, label: "Faixa salarial"
            
    .form-group
        = f.button :submit, 'Salvar'
