.header_jobs
    .row
        .col-md-6
            %h1 Vagas
        .col-md-6
            %ul.nav.navbar-nav.navbar-right
                %li.filter_type.filter_type_estagio= link_to "Estagios", new_job_path
                %li.filter_type.filter_type_emprego= link_to "Empregos", new_job_path
                
%ul.vagas
    - @jobs.each do |job|
        %li.vaga
            .panel.panel-default.col-md-8.col-md-offset-2
                - if job.type_job == "Estágio"
                    .type_job.type_job_estagio
                - else
                    .type_job.type_job_emprego
                .panel-body
                    .row
                        .col-md-6
                            .titulo_vaga= link_to job.title, job
                            .valor_vaga
                                %span= job.value
                            %small= job.company.name
                        .col-md-6
                            - job.tags.each do |job_tag|
                                .tag
                                    %span.badge= job_tag.title