%h3= @job.title

%p= @job.type_job

%p= @job.description

%p= @job.value


= link_to "Voltar", root_path
= link_to "Editar", edit_job_path
= link_to "Deletar", job_path, method: :delete, data: {confirm: "Tem certeza?"}