= simple_form_for @company, html: { multipart: true } do |f|
    - if @company.errors.any?
        #errors
            %h2
                = pluralize(@company.errors.count, "error")
                prevented this Pin from saving
            %ul
                - @company.errors.full_messages.each do |msg|
                    %li= msg
                    
    .form-group
        = f.input :name, input_html: { class: 'form-control'}, label: "Nome da empresa:"
      
    .form-group
        = f.input :image, input_html: { class: 'form-control'}, label: "Logo da empresa:"
     
    .form-group
        = f.input :number_telephone, input_html: { class: 'form-control'}, label: "Número de telefone:"
    
    .form-group
        = f.input :description, input_html: { class: 'form-control'}, label: "Descrição:"
    
    = f.button :submit, class: "btn btn-primary"
