/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

li.filter_type_estagio
{
    border-bottom: 5px solid #Ff0000;
}
li.filter_type_emprego
{
    border-bottom: 5px solid #ff0;
}

.vagas {
    margin-top: 30px;
    .titulo_vaga {
        font-size: 20px;
    }
    .type_job {
        width: 5px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        &.type_job_estagio
        {
            background-color: #Ff0000;  
        }
        &.type_job_emprego
        {
            background-color: #Ff0;  
        }
    }  
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 8px 13px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #777777;
    border-radius: 10px;
    float: right;
    margin-left: 10px;
}
