%html
%body
    %title Trabalho Juridico
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
%body
    %nav.navbar.navbar-default
        .container
            .navbar-brand= link_to "VagasJuris", root_path
            
            - if user_signed_in?
                %ul.nav.navbar-nav.navbar-right
                    %li
                        %span= current_user.email
                    %li= link_to "Cadastrar Vaga", new_job_path
                    %li= link_to "Sair", destroy_user_session_path, method: :delete
            - else
                %ul.nav.navbar-nav.navbar-right
                   
                    %li= link_to "Login", new_user_session_path
                    %li= link_to "Cadastrar", new_user_registration_path
    .container
        - flash.each do |name, msg|
            = content_tag :div, msg, class: "alert alert-info"

        = yield

